.menu {
    padding: 10rem 0;
    background-color: #f2f6f7;
    --spacer: 6rem;
    &-tab {
        @include flexbox(center, center);
        margin-bottom: 8rem;
        &__item {
            padding: 2rem 5rem;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            transition:0.25  ease;
        }
        &__item.is-active,
        &__item:hover {
          color: $primary-color;
          border-bottom-color: currentColor;
        }
    }
    &__list{
        @include flexbox(stretch, flex-start, flex, row, wrap);
        margin-left: calc(-1 * var(--spacer));
        margin-bottom: calc(-1 * var(--spacer));

    }
    &__item {
      margin-left: var(--spacer);
      margin-bottom: var(--spacer);
      width: calc(25% - var(--spacer));
        height: 45rem;
    position: relative;
    }
    &__item:hover .menu__content {
        @include show();
      }
    &__label {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: white;
        padding: 2.5px 1.5rem;
        text-align: center;
        background-color: $primary-color;
        border-radius: 2rem;
        font-size: 1.2rem;
        z-index: 2;
      }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    &__content{
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.5);
        padding: 2rem;
        @include flexbox(center, center, flex, column);
        color: white;
        @include hide();
    }
    &__price {
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }
      &__rating {
        margin-bottom: 0.5rem;
        color: $primary-color;
      }
      &__title {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      &__order{
          padding: 1rem 2rem;
          color: white;
          background-color: $primary-color;
          border: 0;
          border-radius: 4px;
      }
      @include maxWidth(1279px) {
        --spacer: 2rem;
        &__item {
          height: 35rem;
        }
        &-tab {
          overflow-x: auto;
          margin-bottom: 4rem;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      @include maxWidth(1023px){
        &__item {
            width: calc(50% - var(--space));
          }
      }
      @include maxWidth(767px) {
        &__item {
          width: 100%;
          height: auto;
        }
      }
}